@charset "utf-8";

*{box-sizing: border-box;}



.pd_cover{
    width: 1200px; 
    margin: 0 auto; 
    background-color: #e9e9e9; 
    padding: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
}
.pd_cover .box{
    width: calc(25% - 20px); 
    margin: 0 10px 20px; 
    background-color: #ff8; 
    padding: 10px;
}
.pd_cover .box.red{background-color: #fff;}


.pd_cover .box img{width: 100%;}
.pd_cover .box h3{font-size: 16px; padding: 10px 0; color: #555;}
.pd_cover .box .cont{font-size: 14px; color: #777;}
.pd_cover .box .price{font-size: 15px; text-align: right; padding-top: 20px; color: #c0c; font-weight: bold;}


