@charset "utf-8";

*{box-sizing: border-box;}
html, body{margin: 0; padding: 0;}
section{display: block; margin-bottom: 40px;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}



header{
    border-bottom: 1px solid #6b2c0f; 
    height: 70px;
}
header .wrap{
    width: 1200px; 
    height: 100%; 
    margin: 0 auto; 
    padding: 0 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

header .wrap .logo{}
header .wrap .logo a{display: block;}
header .wrap .logo a img{display: block; height: 48px;}

header .wrap nav{}
header .wrap nav ul{display: flex; flex-wrap: wrap;}
header .wrap nav ul li{margin: 0 20px;}
header .wrap nav ul li:last-child{margin-right: 0;}
header .wrap nav ul li a{
    display: block; 
    color:#777; 
    font-size: 14px; 
    font-weight: bold;
}

header .wrap nav ul li:hover a{color:#6b2c0f;}


#detail{padding-top: 60px;}
#detail .wrap{
    width: 1000px; 
    margin: 0 auto;
    display: flex; 
    flex-wrap: wrap;
}

#detail .wrap > div{padding: 0 10px 20px;}
#detail .wrap div.left{width: 40%;}
#detail .wrap div.left .det_img{}
#detail .wrap div.left .det_img img{width: 100%;}

#detail .wrap div.left .det_thumb{padding-top: 20px;}
#detail .wrap div.left .det_thumb ul{
    width: 100%; 
    display: flex; 
    justify-content: center;
}

#detail .wrap div.left .det_thumb ul li{
    width: 80px; 
    height: 80px; 
    margin: 0 5px 10px; 
    background-color: #ffa; 
    background-size: cover; 
    background-position: 50% 50%; 
    /*filter:grayscale(100%);*/
}

#detail .wrap div.left .det_thumb ul li:hover{filter:grayscale(0%);}

#detail .wrap div.left .det_thumb ul li.active{
    border: 2px solid #6b2c0f; 
    filter:grayscale(0%);
}



#detail .wrap div.right{
    width: 60%;
}
#detail .wrap div.right .det_info{
    padding-top: 10px;
}
#detail .wrap div.right .det_info .det_title{}
#detail .wrap div.right .det_info .det_title h2{
    font-size: 28px; 
    color:#333;
}
#detail .wrap div.right .det_info .det_title p{
    font-size: 18px; 
    color:#555;
    padding-top: 10px; 
    padding-bottom: 20px;
}
#detail .wrap div.right .det_info .det_price{
    padding-bottom: 20px; 
    border-bottom: 1px solid #ccc; 
    margin-bottom: 20px;
}
#detail .wrap div.right .det_info .det_price h4{
    font-size: 18px; 
    color:#6b2c0f; 
    text-align: right;
}
#detail .wrap div.right .det_info .det_price h4 span{
    font-size: 28px;
}

#detail .wrap div.right .det_info [class^="form_"]{
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    padding-bottom: 20px;
}

#detail .wrap div.right .det_info [class^="form_"] label{
    width: 120px; 
    font-size: 16px; 
    color:#555;
}
#detail .wrap div.right .det_info [class^="form_"] select{
    width: calc(100% - 120px); 
    height: 40px; 
    padding: 0 10px; 
    font-size: 16px; 
    color:#555; 
    -webkit-appearance: none; 
    appearance: none; 
    background-image: url(../img/select_arrow.svg); 
    background-position: 98% 50%; 
    background-size: auto 16px; 
    background-repeat: no-repeat; 
    border:1px solid #ccc; 
    border-radius:4px;
}

.opt_box{}
.opt_box .my_item{
    background-color: #eee; 
    padding: 0 10px; 
    margin-bottom: 10px; 
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc;
}

.opt_box .my_item .det_count{
    padding: 10px 0; 
    border-bottom: 1px  solid #aaa;
}

.opt_box .my_item .det_count .det_count_tit{
    display: flex; 
    font-size: 14px; 
    font-weight: bold; 
    color:#555;
}

.opt_box .my_item .det_count .det_count_tit .opt_01{
    padding-right: 10px;
}
.opt_box .my_item .det_count .det_count_tit .opt_02:before{content:"[";}
.opt_box .my_item .det_count .det_count_tit .opt_02:after{content:"]";}

.opt_box .my_item .det_count_bottom{
    display: flex; 
    align-items: center; 
    padding: 10px 0;
}

.opt_box .my_item .det_count_bottom .det_count_bx{
    width: calc(100% - 240px); 
    display: flex;
}

.opt_box .my_item .det_count_bottom .det_count_bx a{
    display: block; 
    height: 36px; 
    line-height: 34px; 
    padding: 0 10px; 
    border:1px solid #ccc; 
    background-color: #fff;
    color:#555;
}

.opt_box .my_item .det_count_bottom .det_count_bx input{
    width: 60px; 
    height: 36px; 
    border:none;
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    text-align: center; 
    color:#555;
}

.opt_box .my_item .det_count_bottom .det_count_price{
    width: 200px; 
    text-align: right; 
    color:#555; 
    font-size: 14px; 
    font-weight: bold;
}

.opt_box .my_item .det_count_bottom .item_del{
    display: block; 
    width: 30px; 
    height: 30px; 
    background-color: #fff; 
    border-radius:50%; 
    text-align: center; 
    line-height: 26px;
    margin-left: 10px;
}

.det_total_price{
    padding: 20px 0; 
    display: flex; 
    justify-content: space-between; 
    align-items: baseline;
}

.det_total_price .total_price_tit{
    font-size: 18px; 
    color:#333;
}

.det_total_price .total_price_num{
    font-size: 24px; 
    font-weight: bold; 
    color:#6b2c0f;
}

.det_button{
    display: flex; 
    justify-content: center;
}

.det_button input{
    width: 160px; 
    height: 40px; 
    border: none; 
    color: #fff; 
    margin: 0 10px; 
    cursor: pointer; 
    font-size: 18px; 
    border-radius: 4px;
}

.det_button input:first-child{background-color: #ff4646;}
.det_button input:last-child{background-color: #6b2c0f;}

.det_button input:first-child:hover{background-color: #df2626;}
.det_button input:last-child:hover{background-color: #4b0c0f;}

/*카트 파트*/
.dark{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0;
}
.dark.active{
    z-index: 1; 
    opacity: 1; 
    transition: opacity 0.5s;
}

.cart_frame{
    position: fixed;
    width: 400px;
    height: 100%;
    top: 0; right: -410px;
    background-color: #fff;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}
.cart_frame.active{
    right: 0;
    transition: right 0.5s;
}

.cart_frame .cart_title{
    line-height: 69px;
    border-bottom: 1px solid #6b2c0f;
    color: #6b2c0f;
    padding: 0 20px;
    position: relative;
}
.cart_frame .cart_title h3{
    display: flex;
    justify-content: space-between;
    line-height: 69px;
}
.cart_frame .cart_title h3 .close_btn{
    font-size: 22px;
    cursor: pointer;
}

#cart_detail{
    height: calc(100% - 120px);
    overflow: auto;
    padding: 20px;
}
#cart_detail .cart_list{
    border-bottom: 1px solid #aaa;
    padding: 10px 0;
}
#cart_detail .cart_list .top_list{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
#cart_detail .cart_list .top_list .img_space{
    width: 25%; 
    background: #ccc;
}
#cart_detail .cart_list .top_list .img_space img{
    width: 100%;
    display: block;
}
#cart_detail .cart_list .top_list .list_title{
    width: 75%;
    padding-left: 20px;
}
#cart_detail .cart_list .top_list .list_title h4{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#cart_detail .cart_list .top_list .list_title .list_total{
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    color: #6b2c0f;
}
#cart_detail .cart_list .top_list .list_title .list_total span{
    font-size: 20px;
}

#cart_detail .cart_list .opt_list{}
#cart_detail .cart_list .opt_list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    padding: 10px;
}
#cart_detail .cart_list .opt_list li .opt_title{}
#cart_detail .cart_list .opt_list li .opt_title h5{
    color: #555;
    font-size: 14px;
}
#cart_detail .cart_list .opt_list li .opt_title h5 span{
    display: block;
}

#cart_detail .cart_list .opt_list li .opt_price{
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

.cart_btn{padding: 5px 0;}
.cart_btn ul{
    display: flex;
    justify-content: center;
}
.cart_btn ul li{
    margin: 0 5px;
    width: calc(50% - 10px);
}
.cart_btn ul li button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.cart_btn ul li:first-child button{background: #6b2c0f;}
.cart_btn ul li:last-child button{background: #777;}

.cart_btn ul li:first-child:hover button{background: #4b0c0f;}
.cart_btn ul li:last-child:hover button{background: #555;}






/*#calc_box 각 계산값 구하기*/
#calc_box{width: 600px; margin: 0 auto;}
#calc_box ul{}
#calc_box ul li{background-color: #aff; margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center;}
#calc_box ul li button{}
#calc_box ul li input{width: 50px; text-align: center;}

/*엄마 심부름 하기*/
#ex_01{border:1px solid #f00; width:800px; margin: 0 auto;}
#ex_01 ul{}
#ex_01 ul li{display: flex; justify-content: space-between; align-items: center;}

#ex_01 ul li p{width: 80px;}
#ex_01 ul li .control_num{width: 180px; display: flex; align-items: center; justify-content: center;}
#ex_01 ul li .control_num a{display: block; width: 40px; height: 40px; text-align: center; line-height: 40px; background-color: #ccc;}
#ex_01 ul li .control_num input{width: 50px; height: 40px; text-align: center;}
#ex_01 ul li h3{width: calc(100% - 260px); text-align: right;}
#ex_01 h2{border-top: 1px solid #000; padding: 10px 0; text-align: right;}




